.DykGo {
    width: 18.75rem;
    height: 4.375rem;
    padding-left: 3rem;
}

.jEEywD {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding-right: 3rem;
}

.iPexDg {
    text-decoration: none;
    width: 6rem;
    color: dimgray;
    text-align: center;
}